<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Marvelous WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Marvelous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CA0308420D1BA4D006F20A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA0309820D1BA54006F20A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA030A320D1BA54006F20A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA030AC20D1BA54006F20A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
